<footer class="bg-body-tertiary w-100  text-center >
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        <% let year= new Date().getFullYear() %>
      © <%= year %> Copyright:
      <a class="text-body" href="/">AgroMinds</a>
    </div>
    <!-- Copyright -->
</footer>