
<head>  
    <title>Home Page</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

     <h1>This is our home page</h1>

     
    <%- include("partials/footer.ejs") %>
    
    
</body>

